.bg-container{
  height:100vh;
  width:100vw;
  background-image: linear-gradient(to left,#fa7257, #fc63a7);
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.button{
  
}
.buttons-container{
  display:flex;
}
.container-1{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin-left:100px;
}
.hide-first{
  visibility: visible;
}
.first{
  visibility: hidden;
}
.second{
  visibility: hidden;
}
.hide-second{
  visibility: visible;
}